#viewer {
	min-width : 500px !important;
	max-width : 70vw !important;
	width : auto !important;
}

#viewer,
.page {
	margin : 0 auto!important;
	padding-top : 10px;
	max-width : 80%;
}

#viewer img,
.page img {
	display : block;
	margin : 40px auto;
	max-width : 100%;
}

.loading-wrap {
	position : fixed;
	top : 0;
	left : 0;
	z-index : 999999;
	padding-top : 15%;
	width : 100%;
	height : 100%;
	background : rgba(30, 30, 30, .75);
	color : #fff;
	text-align : center;
}

.loading-wrap h2 {
	font-size : 30px;
	font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.loader {
	position : relative;
	margin : 6em auto;
	border-top : 1.1em solid rgba(255, 255, 255, .2);
	border-right : 1.1em solid rgba(255, 255, 255, .2);
	border-bottom : 1.1em solid rgba(255, 255, 255, .2);
	border-left : 1.1em solid #ffffff;
	text-indent : -9999em;
	font-size : 10px;
	animation : loadingSpinner 1.1s infinite linear;
}

.loader,
.loader:after {
	width : 10em;
	height : 10em;
	border-radius : 50%;
}

@keyframes loadingSpinner {
	0% {
		transform : rotate(0deg);
	}
	100% {
		transform : rotate(360deg);
	}
}

#bmr-controls,
#bmr-controls * {
	box-sizing : border-box;
	font-weight : 300;
	font-family : 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

#bmr-controls {
	position : fixed;
	top : 0;
	left : 50%;
	z-index : 99999;
	padding : 10px 15px;
	width: 560px;
	border : 1px solid #aaa;
	border-top : none;
	border-radius : 0 0 5px 5px;
	background : #eee;
	font-size : 14px;
	transform : translateX(-50%);
}

#bmr-controls img {
	display : inline-block;
	width: 20px;
	height: 20px;
	vertical-align : middle;
}

#bmr-controls .form {
	display : inline-block;
}

#bmr-controls select {
	width: 250px;
}

#bmr-controls #prev-chapter,
#bmr-controls #next-chapter {
	margin : 0 10px;
	width: 44px;
	height: 31px;
	text-align : center;
	font-size : 18px;
	line-height : 13px;
}

#bmr-controls #tracking {
	width: 113px;
	height: 31px;
}

#bmr-controls #tracking.pure-button-disabled:before {
	content : 'Checking';
}

#bmr-controls #tracking.pure-button-success:before {
	content : 'Start Tracking';
}

#bmr-controls #tracking.pure-button-error:before {
	content : 'Stop Tracking';
}
