/* -- import Roboto Font ---------------------------- */

@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin';

*,
*:after,
*:before {
	box-sizing : border-box;
	font-family : 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
	letter-spacing : .02em;
}

html {
	position : relative;
	margin : 0;
	padding : 25px;
	background-color : #fafafa;
	color : #212121;
	font-size : 62.5%;
	line-height : 2rem;
	text-rendering : optimizeLegibility;
	overflow-x : hidden;

	-webkit-font-smoothing : antialiased;
}

body {
	font-size : 1.4rem;
}


/* -- Material Design Table style -------------- */

#manga-table {
	box-shadow : 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
}

#manga-table table {
	width : 100%;
	max-width : 100%;
	margin-bottom : 2rem;
	border : 0;
	background-color : #ffffff;
}

#manga-table table > thead > tr,
#manga-table table > tbody > tr,
#manga-table table > tfoot > tr {
	transition : all .3s ease;
}

#manga-table table > thead > tr > td,
#manga-table table > thead > tr > th,
#manga-table table > tbody > tr > td,
#manga-table table > tbody > tr > th,
#manga-table table > tfoot > tr > td,
#manga-table table > tfoot > tr > th {
	padding : 1.6rem;
	transition : all .3s ease;
	border : 0;
	border-bottom : 1px solid #e0e0e0;
	text-align : left;
	vertical-align : middle;
}

#manga-table table > thead {
	background-color : #3f51b5;
}

#manga-table table > thead > tr > th {
	border-bottom : 1px solid rgba(0, 0, 0, .12);
	color : #fff;
	font-size : 1.75rem;
	font-weight : 400;
	vertical-align : bottom;
}

#manga-table table > thead > tr > th,
#manga-table table > thead > tr > td {
	border-bottom-width : 2px;
}

#manga-table table > tbody > tr:hover > td,
#manga-table table > tbody > tr:hover > th {
	background-color : #dcedc8;
	cursor : pointer;
}

#manga-table .pure-button {
	font-weight : 500;
	text-shadow : none;
}

#manga-table table > tbody > tr:not(.has-unread) .manga-markRead button {
	display : none;
}
